body {
	background: url("../images/balloons_back_bg.jpg") no-repeat center center fixed !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;
}
.shadow{
    box-shadow: 10px 10px 30px #111111;
}