

.product{
    border: 1px solid #dddddd;

}

.product>img{
    max-width: 230px;
}


.product-title{
    font-size: 20px;
}

.product-desc{
    font-size: 14px;
}

.product-price{
    font-size: 22px;
}

.product-info{
    margin-top: 50px;
}

/*********************************************
					VIEW
*********************************************/

.content-wrapper {
    max-width: 1140px;
    background: #fff;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 0px;
}

.container-fluid{
    max-width: 1140px;
    margin: 0 auto;
}


